<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ClientApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>test
    <div class="w3-half">
        <div *ngIf="type === 'video'">
            <my-video></my-video>
        </div>
        <div *ngIf="type != 'video'">
            <app-table [searchword]=searchword [type]="type"></app-table>
        </div>
    </div>
    
</body>
</html>
